.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
webview/**
server/**
docs/**
dist/grpcurl/**
node_modules
watcher.js
go.mod
go.sum
jest.config.js
webviews/
